[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
tqdm = "*"
requests-cache = "*"
pyproj = "*"
rtree = "*"
geopy = "*"
geopandas = "*"
networkx = "*"
folium = "*"
matplotlib = "*"
scipy = "*"
openai = "*"
torch = "*"
scikit-learn = "*"
torch-geometric = "*"
gpd = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
